shaders/

.git/
.cspell/
.build/
.vs/

bin/
wcap/
x64/
Win32/

*.ini
*.exe
*.pdb
*.lib
*.exp
*.obj
*.res
*_shader.h

*.tlog
*.ilk
*.exe.recipe
*.log
*.idb
*.vcxproj.user

.task/
